<!DOCTYPE html>
    <html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script>JAVASCRIPT IS USUALLY PLACED HERE</script>
        <title>Time right now is: </title>
    </head>
    <body>
        <style>
            .corExemplo {
                width: 150px;
                height: 150px;
                border-radius: 50%;
                margin-bottom: 30px;
                float: left;
            }
        </style>

        <script>
            function trocaCor(){
                var cor = getElementById("corum");
                cor.stylr.backgraundColor = '#900';
                document.getElementById("boxum").style.backgroundColor = cor;
            }

            function matriz(var quad){
                quad = {[],[]};
                for(int i; i=1; i<=512; i++){
                    for(int j; j=1; j<=512; j++){
                        quad[i],[j] = getElementById("test");
                        quad[i],[j].stylr.backgraundColor = '#900';
                        return (quad[i],[j]);

                    }
                }
            }
        </script>
        <center>
            <h2>Quadro de pixels</h2>
            <br>
            <div type"color" id="teste" onchange"matriz(quad[i],[j]);">
                <input type="color" id="corum" onchange="trocaCor();">
        </center>
    </body>
</html>

<!DOCTYPE html>
    <html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script>JAVASCRIPT IS USUALLY PLACED HERE</script>
        <title>Time right now is: </title>
    </head>
    <body>
        <style>
            .corExemplo {
                width: 150px;
                height: 150px;
                border-radius: 50%;
                margin-bottom: 30px;
                float: left;
            }
        </style>

        <script>
            function trocaCor(){
                var cor = getElementById("corum");
                cor.stylr.backgraundColor = '#900';
                document.getElementById("boxum").style.backgroundColor = cor;
            }

            function matriz(var quad){
                quad = np.array{[[],[]]};
                for(int i; i=1; i<=512; i++){
                    for(int j; j=1; j<=512; j++){
                        quad[i],[j] = getElementById("test");
                        quad[i],[j].stylr.backgraundColor = '#900';
                        return (quad[i],[j]);

                    }
                }
            }
        </script>
        <center>
            <h2>Quadro de pixels</h2>
            <br>
            <div type"color" id="teste" onchange"matriz(quad[i],[j]);">
                <input type="color" id="corum" onchange="trocaCor();">
        </center>
    </body>
</html>



