<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora Decimal e Binario</title>
</head>
<body>
    <center>
        <form name="input" action="html_form_action.asp" method="get">
            <h2>Calculadora</h2>
            <BR>
            <input type="text" name="n1">
            <input type="text" name="n2">
            <BR>
            <input type="submit" value="Enviar">
        </form>
    </center>
</body>
</html>
