<!DOCTYPE html>
    <html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script>JAVASCRIPT IS USUALLY PLACED HERE</script>
        <title>Time right now is: </title>
    </head>
    <body>
        <h2> matrix colorida 512x512 </h2>
        <div id="container">
            <div id="quadrados">
                
            </div>
        </div>


    </body>
    <script src="app.js">

    </script>
</html>

