<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário</title>
</head>
<body>
    <center>
        <tr>
            {%for posicao, nome in enumerate(lista_nomes):%}
                <td> {%print(nome)%}</td>
            {%endfor%}
        </tr>
        <BR>
        <form name="input" action="html_form_action.asp" method="get">
            <h2>Nome do Usuário:</h2>
            <input type="text" name="user">
            <BR>
            <input type="submit" value="Enviar">
        </form>
</center>
</body>
</html>
